<header>

  <header class="container cabecalho">
      <!-- <a href="#" onclick="mostrarMenu()" id="barras"> <img class="icone_menu" src="/assets/img/hamburger-menu.png" alt="icone menu de barras"></a> -->

      <a href="#" id="barras"> <img class="icone_menu" src="/assets/img/hamburger-menu.png" alt="icone menu de barras"></a>

      <a href="#"><img class="logo" src="/assets/img/clash_store.png" alt=""></a>

      <nav class="container menu img">
      <div id= menu_01>

          <a href="#">Action Figures</a>
          <a href="#"> Pelúcias </a>
          <a href="#">Gift Cards</a>
          <a href="#"> Camisetas </a>
      </div>



      <div class="login_carrinho">
          <a routerLink="/login" target="_blank"> <img src="/assets/img/branco-king-login.png"></a>

          <a href="#"><img src="/assets/img/branco-compras.png" alt="Icone carrinho de compras"></a>
      </div>
  </nav>
</header>
