
<app-header></app-header>

  <div id="busca" class="container">
    <form action="#">
        <label for="gseach"> </label>
        <input class="barra-busca" type="search" name="gsearch" id="gsearch"
            placeholder="Encontre itens incríveis Clash Royale">
        <img class="lupa" src="/assets/img/research.png" alt="botão de pesquisa">
    </form>
</div>

    <div class="menu_compras">
    <div class="container">
        <div id="menu_compras">



        </div>

    </div>

<section id="carrossel" class="banner banner_principal">
    <div class="container">

    </div>

</section>

<section class="banner-entrega">
    <div class="container">

    </div>
</section>



  <main>
      <section class="ofertas">
          <div class="container cards">

              <div class="card">
                  <p> Quadro Espadas </p>
                  <img class="card_img" src="/assets/img/swords.png" alt="Espadas Decorativas">
                  <h5> 149.00</h5>
                  <a href="www.google.com.br">Comprar</a>

              </div>

              <div class="card">
                  <p> Adesivo Bruxa</p>
                  <img src="/assets/img/witch.png" alt="Adesivo Bruxa Sombria">
                  <h5> 12.00</h5>
                  <a class="botao_comprar" href="www.google.com.br">Comprar</a>

              </div>
              <div class="card">
                  <p>Caveira Luz</p>
                  <img src="/assets/img/skull.png" alt="pelúcia do bebê dragão">
                  <h5> 149.00</h5>
                  <a href="www.google.com.br">Comprar</a>

              </div>

              <div class="card">
                  <p> Camiseta Royale</p>
                  <img src="/assets/img/camisa-de-futebol.png" alt="Camiseta Royale">
                  <h5> 89.90</h5>
                  <a href="www.google.com.br"> Comprar </a>

              </div>
              <div class="card">
                  <p> Almofada Dragão</p>
                  <img src="/assets/img/dragon.png" alt="almofada dragão">
                  <h5> 149.00</h5>
                  <a href="www.google.com.br"> Comprar </a>

              </div>

              <div class="card">
                  <p> Flag Royale </p>
                  <img src="/assets/img/flag.png" alt="Flamula Clash Royale">
                  <h5> 95.00</h5>
                  <a href="#"> Comprar </a>
              </div>

              <div class="card">
                  <p> Game Portátil </p>
                  <img src="/assets/img/royale_game.png" alt="luminaria caveira">
                  <h5> 250.00</h5>
                  <a href="#"> Comprar </a>
              </div>

              <div class="card">
                  <p> Cedro Luminoso</p>
                  <img src="/assets/img/cedro.png" alt="Cedro luminoso">
                  <h5> 150.00</h5>
                  <a href="#">Comprar</a>
              </div>


              <div class="card">
                  <p> Xadrez Royale</p>
                  <img src="/assets/img/xadrez.png" alt="peças de xadrez clash royale">
                  <h5> 125.00</h5>
                  <a href="#">Comprar</a>
              </div>

          </div>




      </section>
  </main>
  <section class="banner-melhor">
      <div class="container">

      </div>

  </section>


  <section class="galeria_imagens">
      <div class="container">
          <h2>Cadastre-se e concorra a um Pôster Exclusivo !</h2>
          <div class="bt_participe"> <a href="#"> Participe </a></div>
          <div class="galeria">
              <img src="/assets/img/card01_carrossel.jpg" alt="">
              <img src="/assets/img/card5_carrossel.jpg" alt="">
              <img src="/assets/img/card3_carrossel.jpg" alt="">
              <img src="/assets/img/card4_carrossel.jpg" alt="">
              <img src="/assets/img/wpgruporoyale.jpg" alt="">
              <img src="/assets/img/card2_carrossel.jpg" alt="">
          </div>



      </div>
  </section>


  <div class="banner_confira">

  </div>

  <section class="video">
      <div containter>
          <div class="videos">
              <iframe width="400" height="217" src="https://www.youtube.com/embed/gihz9-nC72A"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              <iframe  width="400" height="217" src="https://www.youtube.com/embed/PzUvOlyMHM4"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
          </div>
      </div>
  </section>

