<footer class="footer container">

  <ul> Atendimento e Vendas

     <li><img class="imglista" src="/assets/img/whatsapp.png"> 11 963089071 </li>
     <li><img class="imglista" src="/assets/img/note.png"> atendimento@gamemania.com.br </li>


<p> Siga nossas Redes: </p>
 <a href="#"> <img class="imglista"src="/assets/img/instagram.png" alt=""></a>
 <a href="#"> <img class="imglista" src="/assets/img/facebook.png" alt=""></a>



<p> Assine nossa News Letter </p>
<footer class="container">
<form action="#">
 <input id="email" type="e-mail"  placeholder="E-mail" required>
 <button onclick="cadastrarNewsletter()"> Enviar </button>
</form>
</footer>

