/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;500&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Inconsolata&family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700;1,900&family=Neuton:wght@200;400&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Handlee&family=Inconsolata&family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,400;1,700;1,900&family=Neuton:wght@200;400&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');




/*Css Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container
{
  max-width: 1200px;
}

/* .container-grid {
  width: 1200px;
  margin: 0 auto;
} */
